<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>NameGen - Login</title>
    </head>
    <body>
        <nav>NameGen</nav>
        <form method = "post" action = "/login_authentication">
            <label>Email</label><br>
            <input type = "email" name = "email"><br>
            <label>Password</label><br>
            <input type = "password" name = "password"><br>
            <input type ="submit" value = "Login">
        </form>
        <p>Don't have an account yet? <a href = "/registration">Create an Account</a></p>
    </body>
</html>